:root {
  --bg-color: #537997;
  --text-pri: #c3af5b;
  --caret-color: #ad5145;
  --sub-color: #445c7f;
 --shadow-color: #4d6f8b;
  --text-color: #dfdbc8;
  --text-hover-color: #ad5145;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ad5145;
  --selection-color: #7e2a33;
}
