:root {
  /*Personal preference: 'flip test colors'= on*/
  --bg-color: #292521;
  --text-pri: #509452;
  --caret-color: #1298ba;
  --sub-color: #f5ae2d;
 --shadow-color: #1d1b18;
  --text-color: #e6c7a8;
  --text-hover-color: #7e2a33;
  --error-extra-color: #ff645a;
  --colorful-error-color: #7e2a33;
  --selection-color: #ff645a;
}
