:root {
  --bg-color: #afcbdd;
  --text-pri: #fcfbf6;
  --caret-color: #fcfbf6;
  --sub-color: #85a5bb;
 --shadow-color: #9fc1d4;
  --text-color: #1a2633;
  --text-hover-color: #bf616a;
  --error-extra-color: #793e44;
  --colorful-error-color: #bf616a;
  --selection-color: #793e44;
}
