:root {
  --bg-color: #7c2142;
  --text-pri: #f4a3b4;
  --caret-color: #ffffff;
  --sub-color: #9994b8;
 --shadow-color: #833c5e;
  --text-color: #ffffff;
  --text-hover-color: #deb80b;
  --error-extra-color: #deb80b;
  --colorful-error-color: #deb80b;
  --selection-color: #deb80b;
}
