:root {
  --bg-color: #241963;
  --text-pri: #f2ce83;
  --caret-color: #fbdb8c;
  --sub-color: #446ad5;
 --shadow-color: #2a277a;
  --text-color: #ffffff;
  --text-hover-color: #c6915e;
  --error-extra-color: #c6915e;
  --colorful-error-color: #c6915e;
  --selection-color: #c6915e;
}

nav > .textButton {
  color: #f2ce83;
}

nav > .textButton:hover {
  color: #c6915e;
}
