:root {
  --bg-color: #fdf6e3;
  --text-pri: #859900;
  --caret-color: #dc322f;
  --sub-color: #2aa198;
 --shadow-color: #e2d8be;
  --text-color: #181819;
  --text-hover-color: #d33682;
  --error-extra-color: #9b225c;
  --colorful-error-color: #d33682;
  --selection-color: #9b225c;
}
