:root {
  --bg-color: #1f4437;
  --text-pri: #d6686f;
  --caret-color: #d6686f;
  --sub-color: #3e7a65;
 --shadow-color: #244d3f;
  --text-color: #cdc6bc;
  --text-hover-color: #c82931;
  --error-extra-color: #ac1823;
  --colorful-error-color: #c82931;
  --selection-color: #ac1823;
}
